*  {
	font-family: Calibri;
	box-sizing: border-box;
}
h1  {
	font-size:  4em;
	font-weight: bold;
	text-align: center;
	margin-top:  80px;
	margin-bottom:  100px;
}
.graybox  {
	height: 100px;
}
.chicken {
	box-sizing: content-box;
	height: 50px;
	line-height: 1px;
	float: right;
	font-weight: bolder;
	position: relative;
	background-color: pink;
	top: -64px;
	right: -23px;
	font-weight: bold;
	border-style: solid;
	width: 30%;
	text-align: center;
	margin-bottom: -55px;
}
.beef {
	box-sizing: content-box;
	height: 50px;
	line-height: 1px;
	float: right;
	font-weight: bolder;
	position: relative;
	background-color: red;
	top: -64px;
	right: -23px;
	font-weight: bold;
	color: white;
	border-style: solid;
	border-color: black;
	width: 30%;
	text-align: center;
	margin-bottom: -55px;
}
.sushi {
	box-sizing: content-box;
	height: 50px;
	line-height: 1px;
	float: right;
	font-weight: bolder;
	position: relative;
	background-color: lightgoldenrodyellow;
	top: -64px;
	right: -23px;
	font-weight: bold black;
	border-style: solid;
	width: 30%;
	text-align: center;
	margin-bottom: -55px;
}
.row  {
	width: 100%;
}
.container  {
	font-size:  25px;
	font-weight: bold;
	padding:   20px 20px 20px 20px;
}